{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body %}



<!-- Preloader Start -->
     <div class="preloader">
	   <div class="rounder"></div>
      </div>
      <!-- Preloader End -->
      
      
    
    
    <div id="main">
        <div class="container">
            <div class="row">
            	
               
                 
                 <!-- About Me (Left Sidebar) Start -->
                 {% include 'blog/sidebar.html' %}
                <!-- About Me (Left Sidebar) End -->
                
                
                
                
                 
                 <!-- About Me (Right Sidebar) Start -->
                 <div class="col-md-9">
                    <div class="col-md-12 page-body">
                    	<div class="row">
                    		
                            
                            <div class="sub-title">
                           		<h2>About Me</h2>
                                <a href="/"><i class="icon-home"></i></a>
                             </div>
                            
                            
                            <div class="col-md-12 content-page">
                              <div class="col-md-12 blog-post">
                            	
                                
                                <!-- My Intro Start -->
                                <div class="post-title margin-bottom-30">
                                    <h1>Hi, I am <span class="main-color">Erkan Çetinkaya</span></h1>
                                    
                                    <ul class="knowledge">
                                      <li class="bg-color-1">Computer Engineer</li>
                                      <li class="bg-color-4">Backend Developer</li>
                                      <li class="bg-color-6">Freelancer</li>
                                      <li class="bg-color-5">Consultant</li>
                                      <li class="bg-color-2">Software Developer</li>
                                     </ul>
                                     <ul class="knowledge">
                                      <li class="bg-color-2">Unix Admin</li>
                                      <li class="bg-color-3">Web Developer</li>
                                      <li class="bg-color-1">Pythonista</li>
                                     </ul>
                                     
                                   </div>
                                   <!-- My Intro End -->
                                    
                                    
                                    <p>I am in the website field since 2016. I have 1 year experience in a Start-up company where located in Izmir. Also I have some works as a freelancer. Military Service is done already. Playing with codes, looking new technologies and improve myself in a field are my free time hobbies. Watching films, sport, playing drum, listening music, coding in a coffee <b>:)</b> are also other hobbies. <b data-toggle="tooltip" data-placement="top" title="Go Contact with E-Mail">If you are a corporate company's human resources person, give me chance to work with you.</b> You won't regret it.
                                   
                                 
                                 
                                 <!-- Video Start -->
                                 <!--<div class="video-box margin-top-40 margin-bottom-80">
                                  <div class="video-tutorial">
                                   <a class="video-popup" href="https://www.youtube.com/watch?v=O2Bsw3lrhvs" title="My Thought">
                                   <img src="images/pic/my-pic.png" alt="">
                                   </a>                           
                                  </div>
                                 <p>Take a look about my thought on website design.</p>
                                </div>-->
                                <!-- Video End -->
                                  
                                  
                                  
                                  
                                  <!-- My Service Start -->
                                  <div class="post-title">
                                    <h1>My <span class="main-color">Services</span></h1> 
                                   </div>
                                   
                                  <div class="list list-style-2 margin-top-30">
                                    <ul>
                                      <li>Website Development</li>
                                      <li>UNIX Administration</li>
                                      <li>Online Software Development</li>
                                      <li>Software Development Consultancy</li>
                                      <li>Database Administration</li>
                                     </ul>
                                   </div>
                                   <!-- My Service End --> 
                                  
                                </div>  
                                
                                  <!--<div class="col-md-12 text-center">
                                    <a href="contact.html" data-toggle="tooltip" data-placement="top" title="Visit on my contact page for hire me." class="load-more-button">Hire</a>
                                   </div>-->
                                  
                             </div>
                              
                         </div>
                         
                        
                        
                       
                           
                           
                         </div>
                     
                     
                       {% include 'blog/footer.html' %}
                       
                     
                     
                  </div>
                  <!-- About Me (Right Sidebar) End -->
                
            </div>
         </div>
      </div>
    
      
    
    
    
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <!-- Back to Top End -->
      {% endblock %}