<!DOCTYPE html>
<html lang="en">

  <head>
    
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- SEO -->
    <meta name="description" content="150 words">
    <meta name="author" content="uipasta">
    <meta name="url" content="http://blog.erkanderon.com">
    <meta name="copyright" content="company name">
    <meta name="robots" content="index,follow">
    
    
    <title>Erkan Çetinkaya Blog</title>
    {% load staticfiles %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{%  static 'images/fav.png'  %}">
    <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="{%  static 'images/favicon/apple-touch-icon.png'  %}">
    
    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/plugin.css'  %}">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{%  static 'css/style.css'  %}">
    
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    
    
    <!-- HTML5 shiv and Respond.js support IE8 or Older for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	   <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	   <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
 	<style>
 	.about-fixed{
 		max-width: 280px;
 	}
    .contact-us-detail{
        text-align: center;
    }
    .blog-post .post-title h1{
        text-align: center;
    }
    .blog-post .post-info{
        text-align: right;
    }
    .gitlab {
    background-color: #292961;
    }
 	</style>
  </head>

 <body>

{% block body %}

{% endblock %}


<!-- All Javascript Plugins  -->
    <script type="text/javascript" src="{%  static 'js/jquery.min.js'  %}"></script>
    <script type="text/javascript" src="{%  static 'js/plugin.js'  %}"></script>
    
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="{%  static 'js/scripts.js'  %}"></script>

    
   </body>
 </html>