{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body %}

	
     
	 <!-- Preloader Start -->
     <div class="preloader">
	   <div class="rounder"></div>
      </div>
      <!-- Preloader End -->
      
      
    
    
    <div id="main">
        <div class="container">
            <div class="row">
            	
               
                 
                 <!-- About Me (Left Sidebar) Start -->
                 {% include 'blog/sidebar.html' %}



                 <div class="col-md-9">
                    <div class="col-md-12 page-body">
                      <div class="row">
                        
                            
                            <div class="sub-title">
                              <a href="/" title="Go to Home Page"><h2>Back Home</h2></a>
                                <a href="/" class="smoth-scroll"><i class="icon-home"></i></a>
                             </div>
                            
                            
                            <div class="col-md-12 content-page">
                              {% if post_details %}
                              <div class="col-md-12 blog-post">
                              
                                
                                <!-- Post Headline Start -->
                                <div class="post-title">
                                    <h1>{{ post_details.post_title }}</h1> 
                                   </div>
                                   <!-- Post Headline End -->
                                    
                                    
                                <!-- Post Detail Start -->
                                <div class="post-info">
                                    <span>{{ post_details.pub_date }} / by <a href="#" target="_blank">{{ post_details.owner }}</a></span>
                                   </div>
                                   <!-- Post Detail End -->
                                    
                                    
                                    <p>{{ post_details.post_content|safe }}</p>
                                    
                                
                               
                                 
                                 
                                 <!-- Post Video Tutorial Start -->
                                 <!--<div class="video-box margin-top-40 margin-bottom-40">
                                  <div class="video-tutorial">
                                   <a class="video-popup" href="https://www.youtube.com/watch?v=O2Bsw3lrhvs" title="Video Tutorial">
                                   <img src="images/blog/4.jpg" alt="">
                                   </a>                           
                                  </div>
                                 <p>Integrate video on magnific popup for fast page load.</p>
                                </div>-->
                                <!-- Post Video Tutorial End -->
                                
                                  
                                   
                                  
                                  <!-- Post Coding (SyntaxHighlighter) Start -->
                                  <!--<div class="margin-top-40 margin-bottom-40">  
                                   <pre class="brush: js">
                                   /* Smooth Scroll */

                                    $('a.smoth-scroll').on("click", function (e) {
                                      var anchor = $(this);
                                      $('html, body').stop().animate({
                                      scrollTop: $(anchor.attr('href')).offset().top - 50
                                      }, 1000);
                                      e.preventDefault();
                                     });
         
                                   /* Scroll To Top */
    
                                   $(window).scroll(function(){
                                     if ($(this).scrollTop() >= 500) {
                                     $('.scroll-to-top').fadeIn();
                                     } else {
                                     $('.scroll-to-top').fadeOut();
                                     }
                                     });
  
                                 $('.scroll-to-top').click(function(){
                                   $('html, body').animate({scrollTop : 0},800);
                                   return false;
                                    });
                                  </pre>
                                 </div>-->
                                 <!-- Post Coding (SyntaxHighlighter) End -->
                                 
                                  
                                  
                                  
                                 <!-- Post Image Gallery End -->
                                 
                                
                                
                                  <!--<div class="post-title">
                                    <h2>Make it more awesome</h2> 
                                   </div>-->
                                   
                                   
                                   <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci commodo hendrerit vitae nec eros. Vestibulum neque est.</p>-->
                                 
                                   
                                  
                                  <!-- Post Blockquote (Italic Style) Start -->
                                  <!--<blockquote class="margin-top-40 margin-bottom-40">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet nec tortor nec, tempor semper metus. Cras vel tempus velit, <b>et accumsan nisi</b>. Duis laoreet pretium ultricies. Curabitur rhoncus auctor nunc congue sodale Sed posuere nisi ipsum.</p>
                                   </blockquote>-->
                                   <!-- Post Blockquote (Italic Style) End -->
                                   
                                   
                                  
                              
                                 
                                   
                                  
                                  <!-- Post List Style Start -->
                                  
                                   <!-- Post List Style End -->

                                  
                                  
                                  
                                  <!-- Post Author Bio Box Start -->
                                  
                                    <!-- Post Author Bio Box End -->
                                    
                                    
                                    
                                    
                                  <!-- You May Also Like End -->
                                    
                                   
                                  
                                  
                                  <!-- Post Comment (Disqus) Start -->
                                  
                                   <!-- Post Comment (Disqus) End -->
                                  
                                   

                                </div>    
                                {% endif %}
                             </div>
                              
                         </div>
                         
                        
                        
                        <!-- Subscribe Form Start -->
                        <div class="col-md-8 col-md-offset-2">
                           
                             
                           </div>
                           <!-- Subscribe Form End -->
                           
                           
                         </div>
                     
                     
                       
                       <!-- Footer Start -->
                       {% include 'blog/footer.html' %}
                       <!-- Footer End -->
                     
                     
                  </div>


</div>
      </div>
    
    
    
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <!-- Back to Top End -->
    
   {% endblock %}