{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body %}


<!-- Preloader Start -->
     <div class="preloader">
	   <div class="rounder"></div>
      </div>
      <!-- Preloader End -->
      
      
    
    
    <div id="main">
        <div class="container">
            <div class="row">
            	
               
                 
                 <!-- About Me (Left Sidebar) Start -->
                 {% include 'blog/sidebar.html' %}

                <!-- About Me (Left Sidebar) End -->
                
                
                
                
                 
                 <!-- Contact (Right Sidebar) Start -->
                 <div class="col-md-9">
                    <div class="col-md-12 page-body">
                    	<div class="row">
                    		
                            
                            <div class="sub-title">
                           		<h2>Contact Me</h2>
                                <a href="/"><i class="icon-home"></i></a>
                             </div>
                            
                            
                            <div class="col-md-12 content-page">
                              <div class="col-md-12 blog-post">
                            	
                                
                                
                                <!-- Intro Start -->
                                
                                     <!-- Intro End -->
                                
                                
                                
                               
                               
                               <!-- Contact Me Start -->
                               <div class="post-title margin-top-70">
                                  <h1>Contact <span class="main-color">Me</span></h1>
                                 </div>
                                   
                                   
                                 <div class="row">
            
                                   <div class="col-md-4 col-sm-4">
                                     <div class="contact-us-detail">  
                                      <i class="icon-screen-smartphone color-6"></i>
                                      <p><a href="tel:+1234567890">+90 554 815 86 48</a></p>
                                    </div>
                                   </div>
               
                                   <div class="col-md-4 col-sm-4">
                                     <div class="contact-us-detail">
                                      <i class="icon-envelope-open color-5"></i>
                                      <p><a href="mailto:name@domain.com">erkancetinkaya@tutanota.com</a></p>
                                    </div>
                                   </div>
                 
                                   <div class="col-md-4 col-sm-4">
                                     <div class="contact-us-detail">
                                      <i class="icon-clock color-3"></i>
                                      <p>Mon - Fri 09:00 – 18:00</p>
                                    </div>
                                  </div>
              
                                </div>
            
         
                                <div class="row margin-top-30">
                                  <div class="col-md-12">   
                 
                                  <div class="row">
                                   
                                  </div>
                                </div>
                             </div>
                             <!-- Contact Me End -->
                                
                         
                         </div>
                        </div>
                       </div>
                         
                        
                        
                        <!-- Subscribe Form Start -->
                        
                           <!-- Subscribe Form End -->
                           
                           
                         </div>
                     
                     
                       
                       <!-- Footer Start -->
                       {% include 'blog/footer.html' %}
                       <!-- Footer End -->
                     
                     
                  </div>
                  <!-- Contact (Right Sidebar) End -->
                
            </div>
         </div>
      </div>
    
      
    
    
    
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <!-- Back to Top End -->
     {% endblock %}