<div class="col-md-12 page-body margin-top-50 footer">
  <footer>
  <ul class="menu-link">
       <li><a href="/">Home</a></li>
       <li><a href="/about/">About</a></li>
       <li><a href="/contact/">Contact</a></li>
    </ul>
    
  <p>© Copyright 2016 DevBlog. All rights reserved</p>


   
 </footer>
</div>