{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block body %}

	
     
	 <!-- Preloader Start -->
     <div class="preloader">
	   <div class="rounder"></div>
      </div>
      <!-- Preloader End -->
      
      
    
    
    <div id="main">
        <div class="container">
            <div class="row">
            	
               
                 
                 <!-- About Me (Left Sidebar) Start -->
                 {% include 'blog/sidebar.html' %}
                <!-- About Me (Left Sidebar) End -->
                
                
                
                
                 
                 <!-- Blog Post (Right Sidebar) Start -->
                 <div class="col-md-9">
                    <div class="col-md-12 page-body">
                    	
                    	<div class="row">
                    		
                            
                            <div class="sub-title">
                           		<h2>My Blog</h2>
                                <a href="/contact/"><i class="icon-envelope"></i></a>
                             </div>
                            
                            
                            <div class="col-md-12 content-page">
                            	
                                
                                <!-- Blog Post Start -->
                                {% if all_posts %} 
                                    {% for post in all_posts %}
                                    <div class="col-md-12 blog-post">
                                      <div class="post-title">
                                        <a href="/post/{{ post.pk }}"><h1>{{ post.post_title }}</h1></a>
                                      </div>  
                                      <div class="post-info">
                                        <span>{{ post.pub_date }} / by <a href="#" target="_blank">{{ post.owner }}</a></span>
                                      </div>  
                                      <p>{{ post.post_content|truncatewords:50|safe }}</p>                                
                                      <a href="/post/{{ post.pk }}" class="button button-style button-anim fa fa-long-arrow-right"><span>Read More</span></a>
                                  </div>
                                    
                                    {% endfor %}

                                {% else %}
                                  <h2>You dont have any post</h2>
                                {% endif %}
                                
                                <!-- Blog Post End -->
                               
                                <!-- Blog Post End -->
                                
                                <!-- Blog Post End -->
                                
                                <!--
                                <div class="col-md-12 text-center">
                                 <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Load</a>
                                 <div id="post-end-message"></div>
                                </div>
                                -->
                             </div>
                              
                         </div>
                         
                        
                        
                        <!-- Subscribe Form Start -->
                        <!--<div class="col-md-8 col-md-offset-2">
                           <form id="mc-form" method="post" action="http://uipasta.us14.list-manage.com/subscribe/post?u=854825d502cdc101233c08a21&amp;id=86e84d44b7">
								
						  <div class="subscribe-form margin-top-20">
							 <input id="mc-email" type="email" placeholder="Email Address" class="text-input">
							  <button class="submit-btn" type="submit">Submit</button>
								</div>
                                <p>Subscribe to my weekly newsletter</p>
								<label for="mc-email" class="mc-label"></label>
							  </form>
                             
                           </div>-->
                           <!-- Subscribe Form End -->
                           
                         <!--</div>-->
                     
                     
                       
                     
                     
                  </div>
                  <!-- Blog Post (Right Sidebar) End -->
                  <!-- Footer Start -->
                       {% include 'blog/footer.html' %}
                       <!-- Footer End -->
                
            </div>
         </div>
      </div>
    
    
    
    <!-- Back to Top Start -->
    <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
    <!-- Back to Top End -->
    
   {% endblock %}
