
{% load staticfiles %}
<div class="col-md-3">
   <div class="about-fixed">
    
     <div class="my-pic">
        <img class="img img-responsive" src="{%  static 'images/EEE.jpg'  %}" alt="">
        <a href="javascript:void(0)" class="collapsed" data-target="#menu" data-toggle="collapse"><i class="icon-menu menu"></i></a>
         <div id="menu" class="collapse">
           <ul class="menu-link">
               <li><a href="/">Home</a></li>
               <li><a href="/about/">About</a></li>
               <!--<li><a href="work.html">Work</a></li>-->
               <li><a href="/contact/">Contact</a></li>
            </ul>
         </div>
        </div>
      
      
      
      <div class="my-detail">
    	
        <div class="white-spacing">
            <h1>Erkan Çetinkaya</h1>
            <span>Software Developer</span>
        </div> 
       
       <ul class="social-icon">
         <li><a href="https://www.linkedin.com/in/erkan-%C3%A7etinkaya-9a03b66b/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
         <li><a href="https://gitlab.com/erkanderon" target="_blank" class="gitlab"><i class="fa fa-gitlab"></i></a></li>
        </ul>

    </div>
  </div>
</div>
